.Finish {
  text-decoration: line-through;
}

.recipe-inprogress-container{
  background-color: red;
}
.recipe-img {
  height: 200px;
  object-fit: cover;
  width: 360px;
}
.checkbox-input {
  background-color: #cfdbd5;
  display: flex;
  flex-direction: column;
  width: 200px;
}
.div-buttons{
display: flex;
justify-content: space-between;
}
.button {
  background-color: #f5cb5c;
  border-radius: 3px;
  color: #0a0908;
  cursor: pointer;
  padding: 3px;
  width: 100%;
}
.contair-text h1, h2, h3, h4, h5, h6 {
  background-color: #242423;
  color: #f5cb5c;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.contair-text p {
  background-color: #cfdbd5;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
